<div class="w-full h-[80px] bg-[#06386D] flex justify-between items-center p-4">
    <figure class="w-[25%]">
        <img src="./assets/logo.webp" alt="">
    </figure>
    <div class="flex justify-center items-center gap-4 ">
        <p class="text-white text-base tracking-wide">Mishelle Az</p>
        <figure class="w-[50px] h-[50px] bg-white rounded-full flex justify-center items-center">
        <mat-icon aria-hidden="false" aria-label="user icon" fontIcon="person"></mat-icon>
    </figure>
    </div>
    
    <div class="absolute">
        <ul>
            <li>sing out</li>
        </ul>
    </div>
</div>
