<mat-form-field appearance="standard">
  <mat-label>Buscar....</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ej. cliente"
    #input
  />
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    
    <ng-container
      [matColumnDef]="header"
      *ngFor="let header of displayedColumns"
    >
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ header | titlecase}}
      </mat-header-cell>

      <mat-cell *matCellDef="let element"  [attr.data-label]="header">
        <p *ngIf="header !== 'acciones'">
          {{ element[header] }}
        </p>
        <button *ngIf="header === 'acciones'">
          <mat-icon *ngFor="let action of element[header]" 
          [ngClass]="{'text-blue-Primary':action==='edit', 'text-red-700':action==='delete', 'text-green-700':action==='shared'}">
          {{action}}</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

